body{
background-color:#2c8c99;
color: #Black;
font-family: 'Quicksand', sans-serif;
text-align: center;
background-image: url(https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg);
background-size: cover;
margin: 0px;
}
h1{
color: #db162f;
font-family:'Condiment', cursive;
font-size: 58px ;
}

nav a{
  color: white;
  text-decoration: none;
  background-color: #DB162F;
  border-radius: 5px;
  padding: 5px;
}

nav a:visited{
  color: white;
}

section {
  background: -moz-linear-gradient(right, white, red, white);
  
}
section a{
  color: white;
  border: 1px solid white;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

section {
  position: relative;
}

section a {
  width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
}
